body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f0f0f0;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

/* Estilo para h1 */
h1 {
   font-family: 'Helvetica', sans-serif; font-size: 3em; font-weight: bold; color: #03055093; text-align: center; margin-top: 20px; margin-bottom: 10px; text-shadow: 2px 2px 4px #34495e
}

/* Estilo para p */
p {
   font-family: 'Open Sans', serif; font-size: 1.2em; line-height: 1.8; color: #2c3e50e3; text-align: center; margin-top: 10px; margin-bottom: 20px; padding: 0 15%
}


@media screen and (orientation: portrait) {
   body::before {
       display: block;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       font-size: 24px;
       color: #333;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
}

